* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: rgb(64, 64, 64);
  line-height: 1.5;
}

.container {
  width: 50%;
  margin: 0 auto;
}

h1, h2, h3 {
  text-align: center;
}

h1, h3, ul {
  font-family: 'Roboto', sans-serif;
}

h2, p {
  font-family: 'PT Sans', sans-serif;
}

p {
  font-size: 1.3rem;
  text-indent: 1.3rem;
}

hr {
  margin: 2rem 0;
}

button {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button:hover {
  background-color: tomato;
}

.title {
  margin-bottom: 2rem;
}

/* MEDIA */

@media (max-width: 768px) {
  .container {
    width: 98%;
  }
}
